body {
    margin: 0;
    height: 100vh;
}

#root {
    height: 100vh;
}

.cls-1 {
    font-size: 21.16px;
    font-family: ArialMT, Arial;
    letter-spacing: 0.12em;
}

.cls-1,
.cls-3 {
    fill: #fff;
}

.cls-2 {
    isolation: isolate;
}

.cls-3 {
    fill-rule: evenodd;
}

/* .cls-4 {
    fill: #34c423;
} */